.div1{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 50px auto;
    background-color: lightseagreen;
    padding: 30px;
    border: double red 6px;
}
#click{
    padding: 5px 20px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
#val{
    border-radius: 20px;
    background-color: lightpink;
}